<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" android:versionCode="10" android:versionName="V1.0.0.0" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.xiaopeng.autoshow" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.xiaopeng.permission.SERVICE"/>
    <uses-permission android:name="com.xiaopeng.permission.BROADCAST"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.xiaopeng.permission.DATA_SERVICE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="com.xiaopeng.permission.SYSTEM_DELEGATE"/>
    <uses-permission android:name="xiaopeng.permission.DATA_SERVICE"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:name="com.xiaopeng.autoshow.AutoShowApp" android:debuggable="true" android:allowBackup="false" android:supportsRtl="true" android:usesCleartextTraffic="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity android:name="com.xiaopeng.autoshow.activity.AutoShowActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.xiaopeng.autoshow.AppBroadcastReceiver">
            <intent-filter>
                <action android:name="com.xiaopeng.factorytest.ACTION_FACTORY_CAR_SHOW"/>
                <action android:name="com.xiaopeng.factorytest.ACTION_FACTORY_CAR_TESTDRIVE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.xiaopeng.autoshow.service.AppService" android:enabled="true"/>
        <service android:name="com.xiaopeng.autoshow.llu.LluCycleService"/>
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <provider android:name="com.xiaopeng.lib.framework.netchannelmodule.common.ContextNetStatusProvider" android:exported="false" android:authorities="com.xiaopeng.autoshow.netmodule.provider"/>
    </application>
</manifest>
